name: Generate Snake

on:
  # Run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *" 
  
  # Allows you to run it manually from the Actions tab for testing
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # Name of your github user
          github_user_name: ${{ github.repository_owner }}
          
          # This generates the images. 
          # We pass the RED colors directly in the URL query parameters here.
          outputs: |
            dist/github-snake.svg?color_snake=#FF0000&color_dots=#161b22,#450a0a,#7f1d1d,#b91c1c,#ef4444
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#FF0000&color_dots=#161b22,#450a0a,#7f1d1d,#b91c1c,#ef4444

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
